.navbar-brand{
    text-transform: uppercase;
    font-weight:700;
}


.presentation iframe {
    width: 100%;
    max-width: 856px;
    height: 518px;
  }

  h1{
    font-size:50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman'
  }

 .custom-bg{
  background-color:rgb(245, 247, 248);
 }

 